{% extends 'user_dashboard.html' %}
{% block content %}
<div class="modal fade" id="create_playlist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content  bg-dark text-light">
      <div class="modal-header  bg-dark text-light">
        <h5 class="modal-title" id="staticBackdropLabel">Create Playlist</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-light bg-dark">
        <form method="post" action="/playlists" style="margin-top: 5px;">

          <div class="mb-3">
            <label for="pname" class="form-label">Playlist Name</label>
            <input type="text" required name="pname" class="form-control" id="pname" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="pdescription" class="form-label">Playlist Description</label>
            <input type="text" name="pdescription" class="form-control" id="pname" aria-describedby="emailHelp">
          </div>
          <button type="submit" value="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <div class="btn-toolbar mb-2 mb-md-0">
  <div class="btn-group me-2"> 
   Button trigger modal 
     <button type="button" data-bs-toggle="modal" data-bs-target="#creator" class="btn btn-sm btn-outline-success">Become
      a
      Creator!</button>
  </div>
</div> -->

<div class="container row align-items-start gap-2">
  <div>
    <h1>Your Playlists</h1>
    <button type="button" data-bs-toggle="modal" data-bs-target="#create_playlist"
      class="btn btn-primary">Create</button>
  </div>
  <div class="container row align-items-start gap-2">
    <!-- song cards -->
    {% for playlist in playlists %}
    <div class="card bg-dark text-light" style="width: 15rem; height: 15rem;">
      <form id="form" method="get" action="/playlist/{{ playlist._id }}">
        <div style="width: 14rem; height: 11.5rem;" class="bg-dark text-light ">

          <button style="border: none;" name="" value="" type="submit" class="bg-dark card-img ">

            <figcaption class="figure-caption text-end text-light">{{ count[playlist._id|string()] }} songs</figcaption>


            <div class="card-body text-white-50">
              <h5 class="card-title text-light">{{ playlist.name }}</h5><br>
              <p class="card-t//127.0.0.1ext">
                {% if playlist.description %}
                Description: {{ playlist.description }}
                {% endif %}</p>
            </div>
          </button>

        </div>

      </form>
      <form method="get" id="form2" action="/playlists/delete/{{ playlist._id }}">
        <figcaption class="figure-caption  text-start text-light">
          <button class="figure-caption btn btn-danger">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
              <path
                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
            </svg>
          </button>
        </figcaption>
      </form>
    </div>
    {% endfor %}
  </div>


</div>


{% endblock %}